@inherits LayoutComponentBase

<div id="main" class="min-h-screen flex flex-col text-1xl bg-gradient-to-b from-white from-blue-400">
    <NavBar />
    
    <div id="body" class="flex flex-col">
        @Body
    </div>
</div>
