@page "/"

<div class="bg-cover bg-center">
    <div class="flex justify-center m-4">
        <p class="text-center text-2xl max-w-md my-4">Welcome to the Ohana Support! To find services available to you that you may qualify for, select one of the four options below and answer additional questions to be navigated through dozens of websites for the ones that best suit your needs. 
        </p>
    </div>
    <div class="flex justify-center mt-4">
        What do you need help with?
    </div>
    <div class="flex justify-center">
        <div class="mt-2 py-2 w-48 bg-gray-400 rounded-lg shadow-xl">
        <NavLink href="/CovidPage" class="block font-bold text-center px-4 py-4 text-gray-800 hover:bg-indigo-500 hover:text-white">Covid-19</NavLink>
        <NavLink href="" class="block font-bold text-center px-4 py-4 text-gray-800 hover:bg-indigo-500 hover:text-white">Education</NavLink>
        <NavLink href="" class="block font-bold text-center px-4 py-4 text-gray-800 hover:bg-indigo-500 hover:text-white">Health</NavLink>
        <NavLink href="" class="block font-bold text-center px-4 py-4 text-gray-800 hover:bg-indigo-500 hover:text-white">Human Services</NavLink>
        </div>
    </div>

    <div class="w-full text-center mt-10 ">

        <div class="font-bold text-3xl">Descriptions
        </div>

        <div class="mt-3">
            <div class="font-bold text-2xl">Covid-19
            </div>
            <div class="flex justify-center">
                <div class="max-w-md">COVID-19 is a disease caused by SARS-CoV-2 that can trigger what doctors call a ‘respiratory tract infection’. For questions concerning COVID-19 and the associated resources that you or your Ohana might need during this pandemic.
                </div>
            </div>
        </div>
        <div class="my-6">
            <div class="font-bold text-2xl">Education
            </div>
            <div class="flex justify-center">
                <div class="max-w-md">Education involves all questions about learning, schooling, and Keiki education. For questions concerning Education and the associated resources that you or your Ohana need.
                </div>
            </div>
        </div>
        <div class="my-6">
            <div class="font-bold text-2xl">Health
            </div>
            <div class="flex justify-center">
                <div class="max-w-md">Health involves all questions about general health, medical needs, and medical services. For questions concerning Health and the associated resources that you or your Ohana’s need.
                </div>
            </div>
        </div>
        <div class="my-6">
            <div class="font-bold text-2xl">Human Services
            </div>
            <div class="flex justify-center">
                <div class="max-w-md">Human Services are all questions about services such as counselors, psychologists, social workers, nurses, and therapists. For questions concerning Human Services and the associated resources that you or your Ohana need.
                </div>
            </div>
        </div>
    </div>
</div>
