@page "/"

<div class="flex flex-col">
    <div class="flex justify-center m-4">
        <p class="text-center max-w-3xl text-3xl font-medium my-4">Welcome to the Ohana Support! <br>To find services available to you that you may qualify for, select one of the four options below and answer additional questions to be navigated through dozens of websites for the ones that best suit your needs. 
        </p>
    </div>

    <div class="flex justify-center text-center text-6xl font-bold mt-4">
        How can we help you?
    </div>

    <div class="flex mt-5 justify-center">
        <div class="flex flex-wrap text-center justify-center">
            <div class="">
                <div class="font-bold text-4xl">Covid-19
                </div>
                <div class="grid auto-rows-max justify-items-center ">
                    <div class="max-w-md text-2xl font-medium lg:h-56">
                        COVID-19 is a disease caused by SARS-CoV-2 that can trigger what doctors call a ‘respiratory tract infection’. For questions concerning COVID-19 and the associated resources that you or your Ohana might need during this pandemic.
                    </div>
                    <div class = "mt-2 py-2 w-3/4 bg-gray-400 rounded-lg shadow-xl mb-4"> 
                        <NavLink href="/CovidPage" class="block font-bold text-center px-2 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white text-2xl">Learn More</NavLink>
                    </div>
                </div>
            </div>
            <div>
                <div class="font-bold text-4xl">Education
                </div>
                <div class="grid auto-rows-max justify-items-center ">
                    <div class="grid place-content-center max-w-md text-2xl font-medium lg:h-56">Education involves all questions about learning, schooling, and Keiki education. For questions concerning Education and the associated resources that you or your Ohana need.
                    </div>

                    <div class = "mt-2 py-2 w-3/4 bg-gray-400 rounded-lg shadow-xl mb-4"> 
                        <NavLink href="/" class="block font-bold text-center px-2 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white text-2xl">Learn More</NavLink>
                    </div>
                </div>
            </div>
            <div>
                <div class="font-bold text-4xl">Health
                </div>
                <div class="grid auto-rows-max justify-items-center">
                    <div class="grid place-content-center max-w-md text-2xl font-medium lg:h-56">Health involves all questions about general health, medical needs, and medical services. For questions concerning Health and the associated resources that you or your Ohana’s need.
                    </div>
                    <div class = "mt-2 py-2 w-3/4 bg-gray-400 rounded-lg shadow-xl mb-4"> 
                        <NavLink href="/" class="block font-bold text-center px-2 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white text-2xl">Learn More</NavLink>
                    </div>
                </div>
            </div>
            <div>
                <div class="font-bold text-4xl">Human Services
                </div>
                <div class="grid auto-rows-max justify-items-center">
                    <div class="max-w-md text-2xl font-medium lg:h-56">Human Services are all questions about services such as counselors, psychologists, social workers, nurses, and therapists. For questions concerning Human Services and the associated resources that you or your Ohana need.
                    </div>
                    <div class = "mt-2 py-2 w-3/4 bg-gray-400 rounded-lg shadow-xl mb-4"> 
                        <NavLink href="/" class="block font-bold text-center px-2 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white text-2xl">Learn More</NavLink>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
