@page "/"

<div class="bg-cover bg-center">
    <p class="text-center text-2xl">Resources for our Ohana</p>
    <div class="flex justify-center mt-4">
        What do you need help with?
    </div>
    <div class="flex justify-center">
        <div class="mt-2 py-2 w-48 bg-gray-400 rounded-lg shadow-xl">
        <NavLink href="" class="block font-bold text-center px-4 py-4 text-gray-800 hover:bg-indigo-500 hover:text-white">Covid-19</NavLink>
        <NavLink href="" class="block font-bold text-center px-4 py-4 text-gray-800 hover:bg-indigo-500 hover:text-white">Education</NavLink>
        <NavLink href="" class="block font-bold text-center px-4 py-4 text-gray-800 hover:bg-indigo-500 hover:text-white">Health</NavLink>
        <NavLink href="" class="block font-bold text-center px-4 py-4 text-gray-800 hover:bg-indigo-500 hover:text-white">Human Services</NavLink>
        </div>
    </div>

    <div class="w-full text-center mt-10 ">
        <div class="my-3">
            <div class="font-bold text-2xl">Covid-19</div>
            <div class="">Description of Covid 19</div>
        </div>
        <div class="my-3">
            <div class="font-bold text-2xl">Education</div>
            <div class="">Description of Education</div>
        </div>
        <div class="my-3">
            <div class="font-bold text-2xl">Health</div>
            <div class="">Description of Health</div>
        </div>
        <div class="my-3">
            <div class="font-bold text-2xl">Human Services</div>
            <div class="">Description of Human Services</div>
        </div>
    </div>
</div>
